{{ define "main" }}

  {{ $agent := dict }}
  {{ $file := "agent.json" }}
  {{ with .Resources.GetMatch $file }}
    {{ with . | transform.Unmarshal }}
      {{ $agent = . }}
    {{ end }}
  {{ else }}
    {{/* errorf "Unable to get page resource %q" $file */}}
  {{ end }}

  <div class="grid grid-cols-1 md:grid-cols-3 gap-2 z-10">
    <div class="flex flex-col col-span-3 md:col-span-1 items-center">
      {{ partial "agent/avatar.html" . }}
    </div>
  
    <div class="flex flex-col col-span-3 md:col-span-2 space-y-2">
      {{ partial "agent/details.html" $agent }}
    </div>

    <div class="flex flex-col col-span-3 space-y-2">
      {{ partial "agent/bio.html" $agent }}
    </div>

    <div class="flex flex-col col-span-3 space-y-2">
      {{ partial "agent/look.html" $agent }}
    </div>

    <!-- Stat Blocks -->
    <div class="flex flex-col col-span-3 space-y-2">
      <h2 class="text-base font-semibold">Fähigkeiten</h2>
      <hr/>
      <div class="grid md:grid-cols-3 gap-x-2 gap-y-2">
        {{ partial "agent/abilities.html" (dict "title" "Handeln" "abilities" $agent.abilities.actions) }}
        {{ partial "agent/abilities.html" (dict "title" "Wissen" "abilities" $agent.abilities.knowledge) }}
        {{ partial "agent/abilities.html" (dict "title" "Sozial" "abilities" $agent.abilities.social) }}
      </div>
    </div>

    <div class="page-break"> </div>

    <!-- Gear -->
    <div class="flex flex-col col-span-3 space-y-2">
      <h2 class="text-base font-semibold">Ausrüstung</h2>
      <hr />

      {{ partial "agent/gear.html" $agent.armory }}
    </div>

    <!-- Inventory -->
    <div class="flex flex-col col-span-2 md:col-span-2 space-y-2">
      <h2 class="text-base font-semibold">Rucksack</h2>
      <hr />

      {{ partial "agent/backpack.html" $agent.armory.backpack }}
    </div>

    <!-- Supplies -->
    <div class="flex flex-col col-span-1 md:col-span-1 space-y-2">
      <h2 class="text-base font-semibold">Inhalt</h2>
      <hr/>

      {{ partial "agent/backpack_content.html" $agent.armory.backpack.content }}
    </div>

    <!-- Notes -->
    <div class="flex flex-col col-span-3 space-y-2">
      <h2 class="text-base font-semibold">Anmerkungen</h2>
      <hr/>
      <p>{{ $agent.notes }}</p>
    </div>
  </div>  
{{ end }}
