{{ $rarities := partial "item/rarities.html" . }}
{{ $types := partial "item/types.html" . }}

<div class="flex flex-col">
	<table class="table-fixed">
		<thead>
			<tr>
				<th class="text-left">Name</th>
				<th class="text-left">Beschreibung</th>
				<th class="text-left">Schaden</th>
			</tr>
		</thead>

		<tbody>
			{{ range (slice .primary .secondary .sidearm) }}
				{{ if ne . nil}}
				<tr>
					<td class="w-40">
						<div class="flex flex-col">
							<span title="{{ .title }}" class="text-pretty">{{ .title }}</span>
							<span class="text-xs">{{ index $rarities .rarity }} • {{ index $types .type }}</span>
						</div>
					</td>
					<td class="align-top italic">{{ .description }}</td>
					<td class="align-top">{{ .damage }}</td>
				</tr>
				{{ end }}
			{{ end }}

			<tr></tr>
				<th class="text-left">Name</th>
				<th class="text-left">Beschreibung</th>
				<th class="text-left">Panzerung</th>
			</tr>

			{{ with .gear }}
				{{ if ne . nil}}
					<tr>
						<td class="w-40">
							<div class="flex flex-col">
								<span title="{{ .title }}" class="text-pretty">{{ .title }}</span>
								<span class="text-xs">{{ index $rarities .rarity }} • {{ index $types .type }}</span>
							</div>
						</td>

						<td class="align-top italic">{{ .description }}</td>
						<td class="align-top">{{ .armor }}</td>
					</tr>
				{{ end }}
			{{ end }}
		</tbody>
	</table>
</div>